@import "tailwindcss";
#bottom {
  background: linear-gradient(transparent);
}

* {
  font-family: 'helvetica neue';
}
:root {
  --c1:rgb(12, 43, 78)
  --c2:rgb(26, 61, 100)
  --c1:rgb(29, 84, 100)
  --c4:rgb(244, 244, 244)
}